<h1>Editing Availability Engineer</h1>

<%= render 'form', availability_engineer: @availability_engineer %>

<%= link_to 'Show', @availability_engineer %> |
<%= link_to 'Back', availability_engineers_path %>
