<p id="notice"><%= notice %></p>

<h1>Availability Engineers</h1>

<table>
  <thead>
    <tr>
      <th>Availability</th>
      <th>Engineer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @availability_engineers.each do |availability_engineer| %>
      <tr>
        <td><%= availability_engineer.availability_id %></td>
        <td><%= availability_engineer.engineer_id %></td>
        <td><%= link_to 'Show', availability_engineer %></td>
        <td><%= link_to 'Edit', edit_availability_engineer_path(availability_engineer) %></td>
        <td><%= link_to 'Destroy', availability_engineer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Availability Engineer', new_availability_engineer_path %>
