<p id="notice"><%= notice %></p>

<p>
  <strong>Availability:</strong>
  <%= @availability_engineer.availability_id %>
</p>

<p>
  <strong>Engineer:</strong>
  <%= @availability_engineer.engineer_id %>
</p>

<%= link_to 'Edit', edit_availability_engineer_path(@availability_engineer) %> |
<%= link_to 'Back', availability_engineers_path %>
