@import "./fonts";
@import "./colors";

$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
$body-bg:                 $light-gray;
$font-size-base: 1rem;

$body-color: $gray;
$primary:    $blue;
$success:    $green;
$info:       $yellow;
$danger:     $red;
$warning:    $orange;

$border-radius:    2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;
