<div style="padding:5%">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <form style="padding: 5%">

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <%= f.email_field :email, autocomplete: "current-password", class: 'form-control' %>
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Password</label>
    <% if @minimum_password_length %>
    <div id="emailHelp" class="form-text">(<%= @minimum_password_length %> characters minimum)</div>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Password Confirmation</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    <div id="emailHelp" class="form-text"></div>
  </div>
  <%= f.submit "Aceptar" %>
</form>
  <% end %>
</div>

