<p id="notice"><%= notice %></p>


<table class="table caption-top">
  <caption>Lista de cronogramas <b>(Días del 1 al 7, donde 1 es Lunes y 7 es Domingo)</b></caption>
  <thead>
<tr>
      <th>Day</th>
      <th>Hs start</th>
      <th>Hs end</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.day %></td>
        <td><%= schedule.hs_start.strftime("%H:%M") %></td>
        <td><%= schedule.hs_end.strftime("%H:%M") %></td>
        <td><%= schedule.description %></td>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>