<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @schedule.day %>
</p>

<p>
  <strong>Hs start:</strong>
  <%= @schedule.hs_start %>
</p>

<p>
  <strong>Hs end:</strong>
  <%= @schedule.hs_end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @schedule.description %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
