
<%= simple_form_for(@turn) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date %>
    <%= f.input :hs %>
    <%= f.input :canceled %>
    <%= f.association :service %>
    <%= f.association :engineer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
