<p id="notice"><%= notice %></p>

<%= link_to 'Asignar Disponibilidades', turns_search_turn_path %>

<table class="table caption-top">
    <caption>Listado de Turnos asignados</caption>
  <thead>
    <tr>
      <th>Date</th>
      <th>Hs</th>
      <th>Service</th>
      <th>Engineer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.date.strftime("%d-%m-%Y") %></td>
        <td><%= turn.hs.strftime("%H:%M") %></td>
        <td><%= turn.service.name %></td>
        <td><%= turn.engineer.name %></td>
        <td><%= link_to 'Show', turn %></td>
        <td><%= link_to 'Edit', edit_turn_path(turn) %></td>
        <td><%= link_to 'Destroy', turn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>