<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @turn.date %>
</p>

<p>
  <strong>Hs:</strong>
  <%= @turn.hs %>
</p>

<p>
  <strong>Canceled:</strong>
  <%= @turn.canceled %>
</p>

<p>
  <strong>Service:</strong>
  <%= @turn.service_id %>
</p>

<p>
  <strong>Engineer:</strong>
  <%= @turn.engineer_id %>
</p>

<%= link_to 'Edit', edit_turn_path(@turn) %> |
<%= link_to 'Back', turns_path %>
