<%= form_with(model: calendar) do |form| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
        <% calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :validity_start %>
    <%= form.date_select :validity_start %>
  </div>

  <div class="field">
    <%= form.label :validity_end %>
    <%= form.date_select :validity_end %>
  </div>

  <div class="field">
    <%= form.label :duration_turn %>
    <%= form.time_select :duration_turn %>
  </div>

  <div class="field">
    <%= form.label :canceled %>
    <%= form.check_box :canceled %>
  </div>

  <div class="field">
    <%= form.label :schedule_id %>
    <%= form.text_field :schedule_id %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.text_field :service_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
