<p id="notice"><%= notice %></p>

<table class="table caption-top">
  <caption>Lista de agendas disponibles para monitoreos.</caption>
  <thead>
    <tr>
      <th>Validity start</th>
      <th>Validity end</th>
      <th>Duration turn</th>
      <th>Canceled</th>
      <th>Cronograma</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.validity_start.strftime("%d-%m-%Y") %></td>
        <td><%= calendar.validity_end.strftime("%d-%m-%Y") %></td>
        <td><%= calendar.duration_turn.strftime("%H:%M") %></td>
        <td><%= calendar.canceled %></td>
        <td><%= calendar.schedule.description %></td>
        <td><%= calendar.service.name %></td>
        <td><%= link_to 'Show', calendar %></td>
        <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
        <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>