<p id="notice"><%= notice %></p>

<p>
  <strong>Validity start:</strong>
  <%= @calendar.validity_start %>
</p>

<p>
  <strong>Validity end:</strong>
  <%= @calendar.validity_end %>
</p>

<p>
  <strong>Duration turn:</strong>
  <%= @calendar.duration_turn %>
</p>

<p>
  <strong>Canceled:</strong>
  <%= @calendar.canceled %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @calendar.schedule_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @calendar.service_id %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
