<%= form_with(model: engineer) do |form| %>
  <% if engineer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(engineer.errors.count, "error") %> prohibited this engineer from being saved:</h2>

      <ul>
        <% engineer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
