<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @engineer.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @engineer.user_id %>
</p>

<%= link_to 'Edit', edit_engineer_path(@engineer) %> |
<%= link_to 'Back', engineers_path %>
