<div style="padding:5%">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<form style="padding: 5%">

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <%= f.email_field :email, autocomplete: "current-password", class: 'form-control' %>
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Password</label>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <%= render "devise/shared/links" %><br>
  <%= f.submit "Aceptar" %>
</form>
  <% end %>
</div>
