<%= form_with(model: availability) do |form| %>
  <% if availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
        <% availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :hs %>
    <%= form.time_select :hs %>
  </div>

  <div class="field">
    <%= form.label :canceled %>
    <%= form.check_box :canceled %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.text_field :service_id %>
  </div>

  <div class="field">
    <%= form.label :engineer_id %>
    <%= form.text_field :engineer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
