<p id="notice"><%= notice %></p>

<%= link_to 'Cargar disponibilidad', availabilities_search_availability_path %>

<table class="table caption-top">
  <caption>Listado de disponibilidad</caption>
  <thead>
    <tr>
      <th>Date</th>
      <th>Hs</th>
      <th>Canceled</th>
      <th>Service</th>
      <th>Engineer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @availabilities.each do |availability| %>
      <tr>
        <td><%= availability.date %></td>
        <td><%= availability.hs %></td>
        <td><%= availability.canceled %></td>
        <td><%= availability.service_id %></td>
        <td><%= availability.engineer_id %></td>
        <td><%= link_to 'Show', availability %></td>
        <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
        <td><%= link_to 'Destroy', availability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
