<h4>Seleccione turnos disponibles para trabajar.</h4><br>

<% while (@date_from.to_date <= @date_to.to_date) %>

  <% @day = Date.parse(@date_from.to_s).strftime("%u") %>
  <% @turns_availables = Calendar.turns_availables(@service,@day,@date_from,@date_to) %>
  <% #byebug %>
  <% if @turns_availables.present? %>

    <div class="card" style="margin-bottom: 1%">
      <div class="card-header">
          <h5><b>Turnos disponibles para el día:</b>
            <%= Date.parse(@date_from.to_s).strftime("%d-%m-%Y") %>
            <b>| Servicio:</b> <%= @turns_availables.first.service.name %>
          </h5>
       </div>
    <div class="card-body">
    <p class="card-text">
        <% if @turns_availables.present? %>
        <h5>
            <span style="color: #428bca">█</span> Turno libre | <span style="color: red">█</span> Turno seleccionado
        </h5>
        <!-- Uso el each sobre 'turns_availables' para traer los valores del select realizado en el controlador y se lo asigno a variables-->
        <% cant = @turns_availables.count %>
        <% x=0 %>
        <% while (x < cant) %>
        	<% #byebug %>
            <% @turns_availables.each do |prueba| %>
            	<% #byebug %>
                <% @hs_start = prueba.schedule.hs_start %>
                <% link_to @hs_start.strftime("%H:%M") , new_calendar_path, data: { confirm: "Seguro?" }%>
                <% @hs_end = prueba.schedule.hs_end %>
                <% @duration_turn = prueba.duration_turn %>

                <!-- creo el link con la hora de inicio de atencion y luego sumo a la hora de inicio de atencion la duracion del turno, mientras la hora de inicio de atencion sea menor a la hora de final de atencion del prestador -->
                <% if @hs_end == 'Sat, 01 Jan 2000 00:00:00.000000000 UTC +00:00' %>
                	<% @hs_end = 'Sat, 01 Jan 2000 24:00:00.000000000 UTC +00:00' %>
                <% end %>
                <% while (@hs_start < @hs_end) do %>
                 <!-- por cada iteracion verifico si en el array existe el horario hs_start para determinar si lo creo como link (libre) o no (ocupado) -->
                 	<% @engineer = Engineer.find_by(user_id: current_user.id) %>
                    <% if Availability.turns_occupied(@service, @date_from, @engineer.id).include?(@hs_start) %>
                        <label style="font-size:30px; color:red">
                        <%= @hs_start.strftime("%H:%M") %></label><label style="font-size:30px"> | </label>
                        
                    <% else %>
                    	<label class="category-select">
                    		<%check_box_tag @hs_start.strftime("%H:%M"), @hs_start.strftime("%H:%M"), false %>
							<% @hs_start.strftime("%H:%M") %>                        	
                    	</label>
                      
                        <%= link_to @hs_start.strftime("%H:%M"), new_availability_url(:service_id => @service, :engineer_id => current_user, :hs => @hs_start, :fecha => @date_from, :date_from => @date_from, :date_to => @date_to), :style=>"font-size: 30px; font-weight:bold"%> <label style="font-size:30px"> | </label>

                    <% end %>
                    <%  @hs_start = @hs_start + @duration_turn.hour.hours + @duration_turn.min.minutes + @duration_turn.strftime('%S').to_i %>
                <%end%>
                <% x +=1 %>
                <hr />
            <% end %>
        <%end%>
        <% else %>
        <% end %>
    </p>
  </div>
</div>
    <% @date_from = @date_from.to_date + 1.day %>
<% else %>
    <% @date_from = @date_from.to_date + 1.day %>
<% end %>
<% end %>