<form method="get" action="<%= availabilities_result_search_path %>" style="padding: 5%">
    <div class="mb-3">
        <label for="inputPassword3" class="col-md-2 col-form-label">Fecha desde:</label>
        <div class="col-md-12">
            <input class="form-control" name="date_from" id="date_from" type="date" value="<%= Date.today %>" min="<%= Date.today %>">
        </div>
        <label for="inputPassword3" class="col-md-2 col-form-label">Fecha hasta:</label>
        <div class="col-md-12">
            <input class="form-control" name="date_to" id="date_to" type="date" value="<%= Date.today %>" min="<%= Date.today %>">
        </div>
    </div>
    <div class="mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Servicio:</label>
        <div class="col-sm-12">
            <select name="service" id="service" class="form-control">
            <% @service.each do |service| %>
                <option value="<%= "#{service.id}" %>"><%= service.name %> - <%= service.id %></option>
            <% end %>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <div class="col-sm-12">
            <input type="submit" onclick="" value="Buscar" class="btn btn-primary pull-right">
        </div>
    </div>
</form>
<hr />