<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @availability.date %>
</p>

<p>
  <strong>Hs:</strong>
  <%= @availability.hs %>
</p>

<p>
  <strong>Canceled:</strong>
  <%= @availability.canceled %>
</p>

<p>
  <strong>Service:</strong>
  <%= @availability.service_id %>
</p>

<p>
  <strong>Engineer:</strong>
  <%= @availability.engineer_id %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
